body { 
	color: black; 
	background-color: #929292; 
}

#drag-img {
  cursor: move;
  position: relative;
}

#containerThing {
  overflow: hidden;
  background: red;
  height: 500px;
  width: 500px;
}